/* GENERAL STYLING */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

/* NAV STYLING */
.nav {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 123, 255);
  padding: 1em;
}

.nav__logo-name {
  color: #fffdfd;
  letter-spacing: 0.1em;
}

/* MAIN STYLING */
.main__heading {
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
  padding: 1em;
}

/* main quotes area */
.main__section-quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.main__btn-generate-quote {
  font-size: 1.5rem;
  padding: 0.5em;
  margin: 0 1em;
}

.main__div-quote-display {
  border: 1px solid #000;
  margin: 1em;
  padding: 1em;
  font-size: 1.5rem;
}

.quote {
  margin-bottom: 0.5em;
}

@media screen and (min-width: 48em) {
  /* GENERAL STYLING */
  html,
  body {
    height: 100%;
  }

  .div-container {
    display: flex;
    min-height: 100vh;
    align-items: stretch;
  }

  /* HEADER STYLING */
  .header {
    width: 25%;
  }

  .nav {
    height: 100%;
  }

  /* MAIN STYLING */
  .main {
    width: 75%;
  }

  .main__heading {
    font-size: 3rem;
    text-align: left;
  }
}
