/* CSS RESET */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin-left: 1em;
}

/* GENERAL STYLING */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

/* NAV STYLING */
.header__nav-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 1em;
}

.header__nav__logo-name {
  color: #000;
  letter-spacing: 0.1em;
}

/* MAIN STYLING */
.main__heading {
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
  padding: 1em;
}

/* main quotes area */
.main__quotes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.main__first-btns-container,
.main__second-btns-container {
  display: flex;
  gap: 1em;
  margin: 0 1em;
}

/* contains multiple btn styles */
.btn-fav,
.btn-generate-quote,
.btn-show-all,
.hide-all-quotes {
  font-size: 1.5rem;
  padding: 0.5em;
  cursor: pointer;
}

.btn-fav {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.svg-fav {
  width: 24px;
  height: 24px;
}

.main__quote-display-container {
  border: 1px solid #000;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  font-size: 1.5rem;
  width: 75%;
  max-width: 800px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.quote {
  margin-bottom: 0.5em;
}

.main__first-btns-container {
  display: flex;
  gap: 1em;
  margin: 0 1em;
}

.main__show-quotes-name {
  text-align: center;
  margin-bottom: 1em;
}

/* from javascript all-quotes.js => showAllQuotes function */
.quotes-card {
  border: 1px solid #000;
  border-radius: 1em;
  margin: 0.8em auto;
  padding: 1em;
  font-size: 1.5rem;
  width: 75%;
  max-width: 800px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media screen and (min-width: 48em) {
  .overall-container {
    display: flex;
    align-items: stretch;
  }

  /* HEADER STYLING */
  .header-container {
    width: 35%;
  }

  .header__nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    z-index: 1000;
    background-color: rgb(12, 129, 175);
  }

  .header__nav__logo-name {
    color: #fff;
  }

  /* MAIN STYLING */
  .main {
    width: 75%;
  }

  .main__heading {
    font-size: 3rem;
    text-align: center;
  }
}

@media screen and (min-width: 64em) {
  .btn-fav,
  .btn-generate-quote,
  .btn-show-all {
    cursor: pointer;
  }
}
